@using MiniProject319.Services;
@using MiniProject319.ViewModels;

@inject MenuService menuService;
@{
    int IdRole = Context.Session.GetInt32("RoleId") ?? 0;
    List<VMListMenu> vMListMenu = await menuService.GetListMenu(IdRole);
}

@if(IdRole != 0)
{
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-grid"></i>
                    <span>List Menu</span>
                </a>
            </li>
            @foreach (var item in vMListMenu)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed">
                        <i class="bi bi-menu-button-wide"></i><span>@item.MenuName</span>
                    </a>
                </li>
            }

            <li><hr class="nav-divider" /></li>

            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="Dokter" asp-action="DetailDokter">
                    <i class="bi bi-menu-button-wide"></i><span>Detail Dokter</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" id="cari_dokter">
                    <i class="bi bi-menu-button-wide"></i><span>Cari Dokter Modal</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="Dokter" asp-action="ListDokter">
                    <i class="bi bi-menu-button-wide"></i><span>list dokter after submit</span>
                </a>
            </li>

            <li><hr class="nav-divider" /></li>

            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="Home" asp-action="Faq">
                    <i class="bi bi-question-circle"></i>
                    <span>F.A.Q</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="Auth" asp-action="Logout">
                    <i class="bi bi-question-circle"></i>
                    <span>Logout</span>
                </a>
            </li>

        </ul>

    </aside>

    <script>
        $("#cari_dokter").click(function () {
            $("#modal-body").empty()
            $("#modal-body").load("/Dokter/ModalCariDokter")
            $("#verticalycentered").modal("show")
        });
    </script>


}




