@using MiniProject319.ViewModels;
@using MiniProject319.services;
@inject AuthService authService


@{
    string NameRole = Context.Session.GetString("NameRole") ?? "";
    int IdRole = Context.Session.GetInt32("RoleId") ?? 0;
    List<VMMenu> vMMenus = await authService.MenuAccess(IdRole);
}




 <!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    @{
        if(IdRole != 0)
        {
            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                     <a class="nav-link as-toggle " href="index.html">
                        <i class="bi bi-grid"></i>
                        <span>Menu</span>
                    </a>
                </li><!-- End Dashboard Nav -->
                @foreach (var item in vMMenus)
                {
                    <li class="nav-item">
                        <a class="nav-link collapsed">
                            <i class="bi bi-menu-button-wide"></i><span>@item.MenuName</span>
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link collapsed as-toggle" asp-controller="Mspecialization" asp-action="Index">
                        <i class="bi bi-person"></i>
                        <span>Spesialis Docter</span>
                    </a>
                </li><!-- End Profile Page Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed as-toggle" asp-controller="Pasien" asp-action="Index">
                        <i class="bi bi-person"></i>
                        <span>Profile Pasien</span>
                    </a>
                </li><!-- End Profile Page Nav -->
                
                <li class="nav-item">
                    <a class="nav-link collapsed as-toggle" asp-controller="DoctorProfile" asp-action="Index">
                        <i class="bi bi-person"></i>
                        <span>Profile Doctor</span>
                    </a>
                </li><!-- End Profile Page Nav -->

                <li><hr class="nav-divider" /></li>

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Home" asp-action="Faq">
                        <i class="bi bi-question-circle"></i>
                        <span>F.A.Q</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Auth" asp-action="Logout">
                        <i class="bi bi-question-circle"></i>
                        <span>Logout</span>
                    </a>
                </li>

            </ul>
       }
    }

    

</aside><!-- End Sidebar-->


