<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-heading">Pages</li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Profile" asp-action="Index">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Profile Page Nav -->
        <!-- Add other sidebar nav items here -->

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Hubungan" asp-action="Index">
                <i class="bi bi-person"></i>
                <span>Relation</span>
            </a>
        </li>

    </ul>

</aside><!-- End Sidebar-->
