@{
    string role = "Admin";
}

@{
    switch (role)
    {
        case "Admin":
            <!-- ======= Sidebar Admin ======= -->
            <aside id="sidebar" class="sidebar">

                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <i class="bi bi-grid"></i>
                            <span>Dashboard Admin</span>
                        </a>
                    </li><!-- End Dashboard Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Dokter" asp-action="Index">
                            <i class="bi bi-menu-button-wide"></i><span>Data Dokter</span><i class="bi bi-chevron-right ms-auto"></i>
                        </a>
                    </li><!-- End Data Dokter Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Pasien" asp-action="Index">
                            <i class="bi bi-journal-text"></i><span>Data Pasien</span><i class="bi bi-chevron-right ms-auto"></i>
                        </a>
                    </li><!-- End Data Pasien Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Faskes" asp-action="Index">
                            <i class="bi bi-layout-text-window-reverse"></i><span>Data Faskes</span><i class="bi bi-chevron-right ms-auto"></i>
                        </a>
                    </li><!-- End Data Faskes Nav -->

                    <li class="nav-heading">Pages</li>

                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Home" asp-action="Faq">
                            <i class="bi bi-question-circle"></i>
                            <span>F.A.Q</span>
                        </a>
                    </li><!-- End F.A.Q Page Nav -->

                </ul>

            </aside>
            <!-- End Sidebar-->
            break;
        case "Pasien":
            <!-- ======= Sidebar Pasien ======= -->
            <aside id="sidebar" class="sidebar">

                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <i class="bi bi-grid"></i>
                            <span>Dashboard Pasien</span>
                        </a>
                    </li><!-- End Dashboard Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Pasien" asp-action="Index">
                            <i class="bi bi-journal-text"></i><span>Data Pasien</span><i class="bi bi-chevron-right ms-auto"></i>
                        </a>
                    </li><!-- End Data Pasien Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Home" asp-action="Faq">
                            <i class="bi bi-question-circle"></i>
                            <span>F.A.Q</span>
                        </a>
                    </li><!-- End F.A.Q Page Nav -->

                </ul>

            </aside>
            <!-- End Sidebar-->
            break;
        case "Dokter":
            <!-- ======= Sidebar Dokter ======= -->
            <aside id="sidebar" class="sidebar">

                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <i class="bi bi-grid"></i>
                            <span>Dashboard Dokter</span>
                        </a>
                    </li><!-- End Dashboard Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Pasien" asp-action="Index">
                            <i class="bi bi-journal-text"></i><span>Data Pasien</span><i class="bi bi-chevron-right ms-auto"></i>
                        </a>
                    </li><!-- End Data Pasien Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Faskes" asp-action="Index">
                            <i class="bi bi-layout-text-window-reverse"></i><span>Data Faskes</span><i class="bi bi-chevron-right ms-auto"></i>
                        </a>
                    </li><!-- End Data Faskes Nav -->

                    <hr>

                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Home" asp-action="Faq">
                            <i class="bi bi-question-circle"></i>
                            <span>F.A.Q</span>
                        </a>
                    </li><!-- End F.A.Q Page Nav -->

                </ul>

            </aside>
            <!-- End Sidebar-->
            break;
        case "Faskes":
            <!-- ======= Sidebar Faskes ======= -->
            <aside id="sidebar" class="sidebar">

                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <i class="bi bi-grid"></i>
                            <span>Dashboard Faskes</span>
                        </a>
                    </li><!-- End Dashboard Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Faskes" asp-action="Index">
                            <i class="bi bi-layout-text-window-reverse"></i><span>Data Faskes</span><i class="bi bi-chevron-right ms-auto"></i>
                        </a>
                    </li><!-- End Data Faskes Nav -->

                    <hr>

                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Home" asp-action="Faq">
                            <i class="bi bi-question-circle"></i>
                            <span>F.A.Q</span>
                        </a>
                    </li><!-- End F.A.Q Page Nav -->

                </ul>

            </aside>
            <!-- End Sidebar-->
            break;

    }
}
       

