@{
    ViewData["Title"] = "Create Form";
}

<div class="card">
    <div class="card-body">
        <div class="text-center mt-3">
            <h5>@ViewData["Title"]</h5>
        </div>

        <form asp-action="Create" method="post" id="form_input" enctype="multipart/form-data">
            <div class="form-group row mb-4">
                <label for="Name" class="col-sm-3 col-form-label">Nama Pembayaran: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Name" name="Name">
                    <span id="validate_Name" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="form-group row mb-6 col-sm-5">
                    <button type="submit" class="btn btn-outline-success btn-rounded ml-2 mb-3">Submit</button>
                    <a class="btn btn-outline-primary btn-rounded ml-2" asp-controller="Payment" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>
<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Name: {
                required: true,
            },
        },
        messages: {
            Name: {
                required: "Tolong isi Name Pembayaran",

            },
        },
        submitHandler: function (form) {

            var name = $("#Name").val()
            var id = 0

            $.ajax({
                url: "/Payment/CheckNameIsExist",
                type: "get",
                data: {
                    name: name,
                    id: id,
                },
                dataType: "json",
                success: function (response) {
                    if (response) {
                        $("#validate_Name").text("Nama Cara Pembayaran sudah ada")

                        return true
                    } else {

                        functionSubmit(form);
                    }
                }
            })
         
        }
    })

   function functionSubmit(form) {

        var formData = new FormData();
        var dataForm = $(form).serializeArray();

        $.each(dataForm, function (key, input) {
            formData.append(input.name, input.value)
        })

        $.ajax({
            url: "/Payment/Create",
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (response) {
                var data = response.dataResponse
                if (data.success) {
                    $("#modal").modal("hide")

                    toastr.success(
                        data.message,
                        '', {
                        timeOut: 1500,
                        fadeOut: 1500,
                        onHidden: function () {
                            window.location.reload();
                        }
                    }
                    )
                } else {
                    toastr.errorClass(data.message)
                }
            }
        })
   }

    //let name = $("#Name").val()
    //var id = 0

    //$.ajax({
    //    url: "/Payment/CheckNameIsExist",
    //    type: "get",
    //    data: {
    //        name: name,
    //        id: id,
    //    },
    //    dataType: "json",
    //    success: function (response) {
    //        if (response) {
    //            $("#validate_Name").text("Nama Cara Pembayaran sudah ada")

    //            return true
    //        } else {

    //            functionSubmit(form);
    //        }
    //    }
    //})
</script>