@using MiniProject319.DataModels;
@model MPaymentMethod
@{
    ViewData["Title"] = "Edit Form";
}

<div class="card">
    <div class="card-body">
        <div class="text-center mt-3">
            <h5>@ViewData["Title"]</h5>
        </div>

        <form asp-action="Edit" method="post" id="form_input" enctype="multipart/form-data">
            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">
            <div class="form-group row mb-4">
                <label for="Name" class="col-sm-3 col-form-label">Nama Bank: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
                    <span id="validate_isExist" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="form-group row mb-6 col-sm-5">
                    <button type="submit" class="btn btn-outline-success btn-rounded ml-2 mb-3">Submit</button>
                    <a class="btn btn-outline-primary btn-rounded ml-2" asp-controller="Payment" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>
<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Name: {
                required: true,
            }
        },
        messages: {
            Name: {
                required: "Tolong isi Name Bank",
            }
        },
        submitHandler: function (form) {
            var name = $("#Name").val()
            var id = $("#Id").val()

            $.ajax({
                url: "/Payment/CheckNameIsExist",
                type: "post",
                data: {
                    name: name,
                    id: id
                },
                dataType: "json",
                success: function (response) {
                    if (!response.dataResponse.success) {
                        $("#validate_isExist").text(response.dataResponse.message);

                        return true
                    } else {
                        functionSubmit(form);
                    }
                }
            })
            
        }
    })

    function functionSubmit(form) {

        var formData = new FormData();
        var dataForm = $(form).serializeArray();

        $.each(dataForm, function (key, input) {
            formData.append(input.name, input.value)
        })

        $.ajax({
            url: "/Payment/Edit",
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (response) {
                var data = response.dataResponse
                if (data.success) {
                    $("#modal").modal("hide")

                    toastr.success(
                        data.message,
                        '', {
                        timeOut: 1500,
                        fadeOut: 1500,
                        onHidden: function () {
                            window.location.reload();
                        }
                    }
                    )
                } else {
                    toastr.errorClass(data.message)
                }
            }
        })
    }

    
</script>