
<div class="modal-header">
    <h3 class="modal-title">Cari Dokter</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    @*<p class="text-secondary"><small>Masukan minimal 1 kata kunci untuk pencarian dokter anda!</small></p>*@

    <form class="row g-3 needs-validation" id="form_login">

        <div class="col-12">
            <label for="doctorname" class="form-label">Nama Dokter</label>
            <input type="text" name="doctorname" class="form-control" id="doctorname" placeholder="select doctor name">
        </div>

        @*<div class="col-12">
            <label class="form-label">Location</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>*@

        <div class="col-12">
            <div class="row">
                <div class="col">
                    <label class="form-label">Spesialisasi/ Sub-spesialisasi*</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col">
                    <label class="form-label">Location</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <label class="form-label">Tindakan Medis</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary w-100" type="submit">Cari</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary w-100" type="submit">Reset Pencarian</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $("#form_login").validate({
        submitHandler: function (form) {

            var email = $("#email").val()

            $.ajax({
                url: "/Auth/LoginSubmit",
                data: { email: email },
                type: "post",
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon
                    //debugger;

                    if (data.success) {
                        $("#verticalycentered").modal("hide")
                        toastr.success(
                            data.message,
                            '',
                            {
                                timeOut: 2000,
                                fadeOut: 2000,
                                onHidden: function () {
                                    window.location.reload()
                                }
                            }
                        )
                    } else {

                        toastr.errorClass(data.message)
                    }
                }
            })
        }
    })
</script>
