@using MiniProject319.ViewModels
@using MiniProject319.DataModels

@model MCustomerRelation

@{

    ViewData["Title"] = "Delete Data";
}


<div class="card">
    <div class="card-body">
        <form asp-action="SureDelete" method="post" id="form_delete">

   
                <div class="h4 md-4">@ViewData["Title"]</div>

            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

            <h3>Sure wanna delete  @Model.Name ?</h3>

            <div class="modal-footer">
                <button type="submit" class="btn btn-danger">Yes</button>
                <a asp-asp-controller="Variant" asp-action="Index" class="btn-light">No</a>
            </div>

        </form>

    </div>
</div>