@using MiniProject319.ViewModels
@using MiniProject319.DataModels

@model MCustomerRelation

@{

    ViewData["Title"] = "Edit Data";
}

<div class="h4 md-4">@ViewData["Title"]</div>

<div class="card">
    <div class="card-body">

        <form asp-action="Edit" method="post" id="form_input">

            <input type="hidden" id="Id" name="Id" value="@Model.Id" />

            <div class="mb-4 row">
                <label for="Name" class="col-sm-3.5 col-form-label">Name Category</label>
                <div class="col-sm-8.5">
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
                    <span id="validate_NameRelation" class="text-danger"></span>
                </div>
            </div>


            <br>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Input</button>
                    <a class="btn btn-dark" asp-controller="Hubungan" asp-action="Index">Back</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Name: {
                required: true,
            },
        },
        messages: {
            Name: {
                required: "Inputkan Data Hubungan Relasi ",
            },

        },
        submitHandler: function (form) {
            //console.log('tes')
            var dataForm = $(form).serialize()
            //debugger
            var name = $("#Name").val()
            var id = $("#Id").val()

            $.ajax({
                url: "/Hubungan/CheckRelationIsExist",
                type: "get", //atau method :"get"  (sama aja inimah)
                data: { name: name, id: id },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_NameRelation").text("Relation Name is Exists")
                        return true
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }
            })
        }
    })
    function fungsiSubmit(dataParam) {
            //console.log('test')

            $.ajax({
                url: "/Hubungan/Edit",
                type: "post",
                data: dataParam,
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        $("#modal").modal("hide")

                        toastr.success(
                            data.message,
                            '',
                            {
                                timeOut: 500,
                                fadeOut: 500,
                                onHidden: function () {
                                    window.location.reload()
                                }
                            }
                        )
                    }
                    else {
                        toastr.errorClass(data.message)
                    }
                }

            })
        }

</script>